<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{header}}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/app.css">

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Syxme PHISH</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="{{#if profilesL}}active{{/if}}"><a href="/profiles" >Профили</a></li>
			<li class="{{#if senderL}}active{{/if}}"><a href="/sender">Раcсылка</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-sm-3 col-md-2 sidebar">
			  <ul class="nav nav-sidebar">
			    {{#each List}}<li><a href="/list/{{id}}">{{name}}({{countM}})</a></li>{{/each}}
			  </ul>
			</div>
    		{{{body}}}
    	</div>
    </div>
</body>
</html>